name: publish
on:
  push:
    branches:
      - "main"
jobs:
  publish:
    runs-on: ubuntu-latest
    if: "false"
    steps:
      - uses: actions/checkout@v2
      - run: yarn global add @wundergraph/wunderctl@latest
      - run: yarn
        working-directory: ".wundergraph"
      - run: yarn deploy
        working-directory: ".wundergraph"
        env:
          WUNDERGRAPH_TOKEN: ${{ secrets.WUNDERGRAPH_TOKEN }}
