.vscode
.idea
.wundergraph/generated
vendor
node_modules
generated
*.zip

pkg/templates/assets/templates/**/*.lock
pkg/templates/assets/templates/**/*lock.json
!pkg/templates/assets/templates/**/.wundergraph
/wunderctl

examples/**/*lock*

demo
dist
*.logs
types/go/wgpb
.next
*.log

.DS_Store