strict-peer-dependencies=false # If this is enabled, commands will fail if there is a missing or invalid peer dependency in the tree.
fetch-retries="10"
engine-strict=true
public-hoist-pattern[]=*expo*
# true is the default for PNPM 8, but we're still on 7.
# Enabling this breaks our deployment flow.
dedupe-peer-dependents=false
