save-workspace-protocol=true # This prevents the examples to have the `workspace:` prefix
link-workspace-packages=true # This links the packages to the workspace instead of copying them
strict-peer-dependencies=false # If this is enabled, commands will fail if there is a missing or invalid peer dependency in the tree.
fetch-retries="10"
engine-strict=true
