strict-peer-dependencies=false # If this is enabled, commands will fail if there is a missing or invalid peer dependency in the tree.
fetch-retries="10"
# Enabling dedupe-peer-dependents breaks our deployment because it generates peer
# dependencies with references set to workspace:, which lerna-lite
# doesn't rewrite.
dedupe-peer-dependents=false
