@import url('./tailwind.css');
@import url('./docsearch.css');
@import url('./fonts.css');
@import url('./prism.css');

@layer base {
	.scroll-padding {
		scroll-padding-top: 150px;
	}

	.scrollbar-custom {
		@apply transition-colors scrollbar-thin scrollbar-thumb-gray-400 scrollbar-thumb-rounded-md hover:scrollbar-thumb-gray-500 dark:scrollbar-thumb-gray-600 dark:hover:scrollbar-thumb-gray-500;
	}

	body {
		@apply scrollbar-custom h-full bg-white text-gray-700 antialiased dark:bg-gray-950 dark:text-gray-400;
	}

	svg {
		@apply max-w-full;
	}

	.svg-h-full svg {
		@apply h-full;
	}

	@keyframes scroll {
		0% {
			transform: trangrayX(0);
		}
		100% {
			transform: trangrayX(calc(-560px * 4));
		}
	}

	.animate-scroll {
		animation: scroll 50s linear infinite;
	}

	.animate-scroll:hover {
		animation-play-state: paused;
	}

	reach-portal {
		position: absolute;
		z-index: 100;
	}

	.options-table .option-title h2,
	.options-table .option-title h3,
	.options-table .option-title h4 {
		@apply text-gray-900 dark:text-white;
	}

	.options-table .option-title p {
		@apply text-sm text-gray-500 dark:text-gray-400;
	}

	.hyphens {
		hyphens: auto;
		-webkit-hyphens: auto;
	}

	.value-gradient {
		background: radial-gradient(47.29% 50% at 50% 50%, rgba(2, 132, 199, 0.05) 0%, rgba(255, 255, 255, 0.3) 100%);
	}

	.dark .value-gradient {
		background: radial-gradient(50% 57.71% at 50% 50%, rgba(2, 132, 199, 0.2) 0%, rgba(11, 15, 26, 0.3) 100%);
	}

	.fade-x {
		-webkit-mask: linear-gradient(
			90deg,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 1) 5%,
			rgba(0, 0, 0, 1) 95%,
			rgba(0, 0, 0, 0) 100%
		);
	}

	.fade-x-md {
		-webkit-mask: linear-gradient(
			90deg,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 1) 15%,
			rgba(0, 0, 0, 1) 85%,
			rgba(0, 0, 0, 0) 100%
		);
	}

	/* Nested blur solution */
	.blurred:before {
		content: '';
		position: absolute;
		z-index: -1;
		-webkit-backdrop-filter: blur(8px);
		backdrop-filter: blur(8px);
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.feature-mask:before {
		content: '';
		display: block;
		pointer-events: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		position: absolute;
		inset: 0px;
		border-radius: inherit;
		padding: 1px;
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), transparent);
		-webkit-mask: linear-gradient(black, black) content-box content-box, linear-gradient(black, black);
		-webkit-mask-composite: xor;
	}

	.dark .feature-mask:before {
		background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.15), transparent);
	}
}
