{
  "swagger": "2.0",
  "info": {
    "version": "3",
    "title": "API",
    "description": "## Welcome\n\nThis is a place to put general notes and extra information, for internal use.\n\nTo get started designing/documenting this API, select a version on the left. # Title\nNo Description"
  },
  "host": "api.themoviedb.org",
  "basePath": "/3",
  "schemes": ["https"],
  "produces": ["application/json"],
  "securityDefinitions": {
    "api_key": {
      "name": "api_key",
      "type": "apiKey",
      "in": "query"
    }
  },
  "paths": {
    "/movie/popular": {
      "get": {
        "operationId": "GET_movie-popular",
        "summary": "Get Popular",
        "description": "Get a list of the current popular movies on TMDB. This list updates daily.",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "page": {
                  "type": "integer"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/movie-list-object"
                  }
                },
                "total_results": {
                  "type": "integer"
                },
                "total_pages": {
                  "type": "integer"
                }
              }
            },
            "examples": {
              "application/json": {
                "page": 1,
                "results": [
                  {
                    "poster_path": "/e1mjopzAS2KNsvpbpahQ1a6SkSn.jpg",
                    "adult": false,
                    "overview": "From DC Comics comes the Suicide Squad, an antihero team of incarcerated supervillains who act as deniable assets for the United States government, undertaking high-risk black ops missions in exchange for commuted prison sentences.",
                    "release_date": "2016-08-03",
                    "genre_ids": [14, 28, 80],
                    "id": 297761,
                    "original_title": "Suicide Squad",
                    "original_language": "en",
                    "title": "Suicide Squad",
                    "backdrop_path": "/ndlQ2Cuc3cjTL7lTynw6I4boP4S.jpg",
                    "popularity": 48.261451,
                    "vote_count": 1466,
                    "video": false,
                    "vote_average": 5.91
                  },
                  {
                    "poster_path": "/lFSSLTlFozwpaGlO31OoUeirBgQ.jpg",
                    "adult": false,
                    "overview": "The most dangerous former operative of the CIA is drawn out of hiding to uncover hidden truths about his past.",
                    "release_date": "2016-07-27",
                    "genre_ids": [28, 53],
                    "id": 324668,
                    "original_title": "Jason Bourne",
                    "original_language": "en",
                    "title": "Jason Bourne",
                    "backdrop_path": "/AoT2YrJUJlg5vKE3iMOLvHlTd3m.jpg",
                    "popularity": 30.690177,
                    "vote_count": 649,
                    "video": false,
                    "vote_average": 5.25
                  },
                  {
                    "poster_path": "/hU0E130tsGdsYa4K9lc3Xrn5Wyt.jpg",
                    "adult": false,
                    "overview": "One year after outwitting the FBI and winning the public’s adulation with their mind-bending spectacles, the Four Horsemen resurface only to find themselves face to face with a new enemy who enlists them to pull off their most dangerous heist yet.",
                    "release_date": "2016-06-02",
                    "genre_ids": [28, 12, 35, 80, 9648, 53],
                    "id": 291805,
                    "original_title": "Now You See Me 2",
                    "original_language": "en",
                    "title": "Now You See Me 2",
                    "backdrop_path": "/zrAO2OOa6s6dQMQ7zsUbDyIBrAP.jpg",
                    "popularity": 29.737342,
                    "vote_count": 684,
                    "video": false,
                    "vote_average": 6.64
                  },
                  {
                    "poster_path": "/h28t2JNNGrZx0fIuAw8aHQFhIxR.jpg",
                    "adult": false,
                    "overview": "A recently cheated on married woman falls for a younger man who has moved in next door, but their torrid affair soon takes a dangerous turn.",
                    "release_date": "2015-01-23",
                    "genre_ids": [53],
                    "id": 241251,
                    "original_title": "The Boy Next Door",
                    "original_language": "en",
                    "title": "The Boy Next Door",
                    "backdrop_path": "/vj4IhmH4HCMZYYjTMiYBybTWR5o.jpg",
                    "popularity": 22.279864,
                    "vote_count": 628,
                    "video": false,
                    "vote_average": 4.13
                  },
                  {
                    "poster_path": "/vOipe2myi26UDwP978hsYOrnUWC.jpg",
                    "adult": false,
                    "overview": "An orphan boy is raised in the Jungle with the help of a pack of wolves, a bear and a black panther.",
                    "release_date": "2016-04-07",
                    "genre_ids": [12, 18, 14],
                    "id": 278927,
                    "original_title": "The Jungle Book",
                    "original_language": "en",
                    "title": "The Jungle Book",
                    "backdrop_path": "/eIOTsGg9FCVrBc4r2nXaV61JF4F.jpg",
                    "popularity": 21.104822,
                    "vote_count": 1085,
                    "video": false,
                    "vote_average": 6.42
                  },
                  {
                    "poster_path": "/tgfRDJs5PFW20Aoh1orEzuxW8cN.jpg",
                    "adult": false,
                    "overview": "Arthur Bishop thought he had put his murderous past behind him when his most formidable foe kidnaps the love of his life. Now he is forced to travel the globe to complete three impossible assassinations, and do what he does best, make them look like accidents.",
                    "release_date": "2016-08-25",
                    "genre_ids": [80, 28, 53],
                    "id": 278924,
                    "original_title": "Mechanic: Resurrection",
                    "original_language": "en",
                    "title": "Mechanic: Resurrection",
                    "backdrop_path": "/3oRHlbxMLBXHfMqUsx1emwqiuQ3.jpg",
                    "popularity": 20.375179,
                    "vote_count": 119,
                    "video": false,
                    "vote_average": 4.59
                  },
                  {
                    "poster_path": "/cGOPbv9wA5gEejkUN892JrveARt.jpg",
                    "adult": false,
                    "overview": "Fearing the actions of a god-like Super Hero left unchecked, Gotham City’s own formidable, forceful vigilante takes on Metropolis’s most revered, modern-day savior, while the world wrestles with what sort of hero it really needs. And with Batman and Superman at war with one another, a new threat quickly arises, putting mankind in greater danger than it’s ever known before.",
                    "release_date": "2016-03-23",
                    "genre_ids": [28, 12, 14],
                    "id": 209112,
                    "original_title": "Batman v Superman: Dawn of Justice",
                    "original_language": "en",
                    "title": "Batman v Superman: Dawn of Justice",
                    "backdrop_path": "/vsjBeMPZtyB7yNsYY56XYxifaQZ.jpg",
                    "popularity": 19.413721,
                    "vote_count": 3486,
                    "video": false,
                    "vote_average": 5.52
                  },
                  {
                    "poster_path": "/kqjL17yufvn9OVLyXYpvtyrFfak.jpg",
                    "adult": false,
                    "overview": "An apocalyptic story set in the furthest reaches of our planet, in a stark desert landscape where humanity is broken, and most everyone is crazed fighting for the necessities of life. Within this world exist two rebels on the run who just might be able to restore order. There's Max, a man of action and a man of few words, who seeks peace of mind following the loss of his wife and child in the aftermath of the chaos. And Furiosa, a woman of action and a woman who believes her path to survival may be achieved if she can make it across the desert back to her childhood homeland.",
                    "release_date": "2015-05-13",
                    "genre_ids": [28, 12, 878, 53],
                    "id": 76341,
                    "original_title": "Mad Max: Fury Road",
                    "original_language": "en",
                    "title": "Mad Max: Fury Road",
                    "backdrop_path": "/tbhdm8UJAb4ViCTsulYFL3lxMCd.jpg",
                    "popularity": 18.797187,
                    "vote_count": 5236,
                    "video": false,
                    "vote_average": 7.26
                  },
                  {
                    "poster_path": "/5N20rQURev5CNDcMjHVUZhpoCNC.jpg",
                    "adult": false,
                    "overview": "Following the events of Age of Ultron, the collective governments of the world pass an act designed to regulate all superhuman activity. This polarizes opinion amongst the Avengers, causing two factions to side with Iron Man or Captain America, which causes an epic battle between former allies.",
                    "release_date": "2016-04-27",
                    "genre_ids": [28, 53, 878],
                    "id": 271110,
                    "original_title": "Captain America: Civil War",
                    "original_language": "en",
                    "title": "Captain America: Civil War",
                    "backdrop_path": "/m5O3SZvQ6EgD5XXXLPIP1wLppeW.jpg",
                    "popularity": 16.733457,
                    "vote_count": 2570,
                    "video": false,
                    "vote_average": 6.93
                  },
                  {
                    "poster_path": "/jjBgi2r5cRt36xF6iNUEhzscEcb.jpg",
                    "adult": false,
                    "overview": "Twenty-two years after the events of Jurassic Park, Isla Nublar now features a fully functioning dinosaur theme park, Jurassic World, as originally envisioned by John Hammond.",
                    "release_date": "2015-06-09",
                    "genre_ids": [28, 12, 878, 53],
                    "id": 135397,
                    "original_title": "Jurassic World",
                    "original_language": "en",
                    "title": "Jurassic World",
                    "backdrop_path": "/dkMD5qlogeRMiEixC4YNPUvax2T.jpg",
                    "popularity": 15.930056,
                    "vote_count": 4934,
                    "video": false,
                    "vote_average": 6.59
                  },
                  {
                    "poster_path": "/gj282Pniaa78ZJfbaixyLXnXEDI.jpg",
                    "adult": false,
                    "overview": "Katniss Everdeen reluctantly becomes the symbol of a mass rebellion against the autocratic Capitol.",
                    "release_date": "2014-11-18",
                    "genre_ids": [878, 12, 53],
                    "id": 131631,
                    "original_title": "The Hunger Games: Mockingjay - Part 1",
                    "original_language": "en",
                    "title": "The Hunger Games: Mockingjay - Part 1",
                    "backdrop_path": "/83nHcz2KcnEpPXY50Ky2VldewJJ.jpg",
                    "popularity": 15.774241,
                    "vote_count": 3182,
                    "video": false,
                    "vote_average": 6.69
                  },
                  {
                    "poster_path": "/dCgm7efXDmiABSdWDHBDBx2jwmn.jpg",
                    "adult": false,
                    "overview": "Deckard Shaw seeks revenge against Dominic Toretto and his family for his comatose brother.",
                    "release_date": "2015-04-01",
                    "genre_ids": [28, 80, 53],
                    "id": 168259,
                    "original_title": "Furious 7",
                    "original_language": "en",
                    "title": "Furious 7",
                    "backdrop_path": "/ypyeMfKydpyuuTMdp36rMlkGDUL.jpg",
                    "popularity": 13.659073,
                    "vote_count": 2718,
                    "video": false,
                    "vote_average": 7.39
                  },
                  {
                    "poster_path": "/5JU9ytZJyR3zmClGmVm9q4Geqbd.jpg",
                    "adult": false,
                    "overview": "The year is 2029. John Connor, leader of the resistance continues the war against the machines. At the Los Angeles offensive, John's fears of the unknown future begin to emerge when TECOM spies reveal a new plot by SkyNet that will attack him from both fronts; past and future, and will ultimately change warfare forever.",
                    "release_date": "2015-06-23",
                    "genre_ids": [878, 28, 53, 12],
                    "id": 87101,
                    "original_title": "Terminator Genisys",
                    "original_language": "en",
                    "title": "Terminator Genisys",
                    "backdrop_path": "/bIlYH4l2AyYvEysmS2AOfjO7Dn8.jpg",
                    "popularity": 13.438976,
                    "vote_count": 2334,
                    "video": false,
                    "vote_average": 5.91
                  },
                  {
                    "poster_path": "/q0R4crx2SehcEEQEkYObktdeFy.jpg",
                    "adult": false,
                    "overview": "Minions Stuart, Kevin and Bob are recruited by Scarlet Overkill, a super-villain who, alongside her inventor husband Herb, hatches a plot to take over the world.",
                    "release_date": "2015-06-17",
                    "genre_ids": [10751, 16, 12, 35],
                    "id": 211672,
                    "original_title": "Minions",
                    "original_language": "en",
                    "title": "Minions",
                    "backdrop_path": "/uX7LXnsC7bZJZjn048UCOwkPXWJ.jpg",
                    "popularity": 13.001193,
                    "vote_count": 2699,
                    "video": false,
                    "vote_average": 6.55
                  },
                  {
                    "poster_path": "/nBNZadXqJSdt05SHLqgT0HuC5Gm.jpg",
                    "adult": false,
                    "overview": "Interstellar chronicles the adventures of a group of explorers who make use of a newly discovered wormhole to surpass the limitations on human space travel and conquer the vast distances involved in an interstellar voyage.",
                    "release_date": "2014-11-05",
                    "genre_ids": [12, 18, 878],
                    "id": 157336,
                    "original_title": "Interstellar",
                    "original_language": "en",
                    "title": "Interstellar",
                    "backdrop_path": "/xu9zaAevzQ5nnrsXN6JcahLnG4i.jpg",
                    "popularity": 12.481061,
                    "vote_count": 5600,
                    "video": false,
                    "vote_average": 8.12
                  },
                  {
                    "poster_path": "/1ZQVHkvOegv5wVzxD2fphcxl1Ba.jpg",
                    "adult": false,
                    "overview": "Set after the events of Continental Drift, Scrat's epic pursuit of his elusive acorn catapults him outside of Earth, where he accidentally sets off a series of cosmic events that transform and threaten the planet. To save themselves from peril, Manny, Sid, Diego, and the rest of the herd leave their home and embark on a quest full of thrills and spills, highs and lows, laughter and adventure while traveling to exotic new lands and encountering a host of colorful new characters.",
                    "release_date": "2016-06-23",
                    "genre_ids": [12, 16, 35, 10751, 878],
                    "id": 278154,
                    "original_title": "Ice Age: Collision Course",
                    "original_language": "en",
                    "title": "Ice Age: Collision Course",
                    "backdrop_path": "/o29BFNqgXOUT1yHNYusnITsH7P9.jpg",
                    "popularity": 12.150474,
                    "vote_count": 242,
                    "video": false,
                    "vote_average": 5.15
                  },
                  {
                    "poster_path": "/inVq3FRqcYIRl2la8iZikYYxFNR.jpg",
                    "adult": false,
                    "overview": "Based upon Marvel Comics’ most unconventional anti-hero, DEADPOOL tells the origin story of former Special Forces operative turned mercenary Wade Wilson, who after being subjected to a rogue experiment that leaves him with accelerated healing powers, adopts the alter ego Deadpool. Armed with his new abilities and a dark, twisted sense of humor, Deadpool hunts down the man who nearly destroyed his life.",
                    "release_date": "2016-02-09",
                    "genre_ids": [28, 12, 35, 10749],
                    "id": 293660,
                    "original_title": "Deadpool",
                    "original_language": "en",
                    "title": "Deadpool",
                    "backdrop_path": "/nbIrDhOtUpdD9HKDBRy02a8VhpV.jpg",
                    "popularity": 12.083976,
                    "vote_count": 4834,
                    "video": false,
                    "vote_average": 7.16
                  },
                  {
                    "poster_path": "/vNCeqxbKyDHL9LUza03V2Im16wB.jpg",
                    "adult": false,
                    "overview": "A private eye investigates the apparent suicide of a fading porn star in 1970s Los Angeles and uncovers a conspiracy.",
                    "release_date": "2016-05-15",
                    "genre_ids": [28, 35, 80, 9648, 53],
                    "id": 290250,
                    "original_title": "The Nice Guys",
                    "original_language": "en",
                    "title": "The Nice Guys",
                    "backdrop_path": "/8GwMVfq8Hsq1EFbw2MYJgSCAckb.jpg",
                    "popularity": 11.374819,
                    "vote_count": 537,
                    "video": false,
                    "vote_average": 6.84
                  },
                  {
                    "poster_path": "/bWUeJHbKIyT306WtJFRHoSzX9nk.jpg",
                    "adult": false,
                    "overview": "A sorority moves in next door to the home of Mac and Kelly Radner who have a young child. The Radner's enlist their former nemeses from the fraternity to help battle the raucous sisters.",
                    "release_date": "2016-05-05",
                    "genre_ids": [35],
                    "id": 325133,
                    "original_title": "Neighbors 2: Sorority Rising",
                    "original_language": "en",
                    "title": "Neighbors 2: Sorority Rising",
                    "backdrop_path": "/8HuO1RMDI3prfWDkF7t1y8EhLVO.jpg",
                    "popularity": 11.178222,
                    "vote_count": 414,
                    "video": false,
                    "vote_average": 5.36
                  },
                  {
                    "poster_path": "/lIv1QinFqz4dlp5U4lQ6HaiskOZ.jpg",
                    "adult": false,
                    "overview": "Under the direction of a ruthless instructor, a talented young drummer begins to pursue perfection at any cost, even his humanity.",
                    "release_date": "2014-10-10",
                    "genre_ids": [18, 10402],
                    "id": 244786,
                    "original_title": "Whiplash",
                    "original_language": "en",
                    "title": "Whiplash",
                    "backdrop_path": "/6bbZ6XyvgfjhQwbplnUh1LSj1ky.jpg",
                    "popularity": 10.776056,
                    "vote_count": 2059,
                    "video": false,
                    "vote_average": 8.29
                  }
                ],
                "total_results": 19629,
                "total_pages": 982
              }
            }
          },
          "401": {
            "$ref": "#/responses/trait:standardErrors:401"
          },
          "404": {
            "$ref": "#/responses/trait:standardErrors:404"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/tv/{tv_id}/watch/providers": {
      "parameters": [
        {
          "name": "tv_id",
          "in": "path",
          "required": true,
          "type": "integer"
        }
      ],
      "get": {
        "operationId": "GET_tv-tv_id-watch-providers",
        "summary": "Get Watch Providers",
        "description": "Powered by our partnership with JustWatch, you can query this method to get a list of the availabilities per country by provider.\n\nThis is **not** going to return full deep links, but rather, it's just enough information to display what's available where.\n\nYou can link to the provided TMDB URL to help support TMDB and provide the actual deep links to the content.\n\n**Please note**: In order to use this data **you must** attribute the source of the data as JustWatch. If we find any usage not complying with these terms we will revoke access to the API.",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "results": {
                  "type": "object",
                  "properties": {
                    "AR": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string"
                        },
                        "flatrate": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "AT": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string"
                        },
                        "buy": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "flatrate": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "AU": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string"
                        },
                        "buy": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "flatrate": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "BE": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string"
                        },
                        "flatrate": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "BR": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string"
                        },
                        "flatrate": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "CA": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string"
                        },
                        "flatrate": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "buy": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "CH": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string"
                        },
                        "flatrate": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "buy": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "CL": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string"
                        },
                        "flatrate": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "CO": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string"
                        },
                        "flatrate": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "CZ": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string"
                        },
                        "flatrate": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "DE": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string"
                        },
                        "buy": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "flatrate": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "DK": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string"
                        },
                        "buy": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "flatrate": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "EC": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string"
                        },
                        "flatrate": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "ES": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string"
                        },
                        "flatrate": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "FI": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string"
                        },
                        "buy": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "flatrate": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "FR": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string"
                        },
                        "flatrate": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "buy": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "GB": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string"
                        },
                        "flatrate": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "buy": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "HU": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string"
                        },
                        "flatrate": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "IE": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string"
                        },
                        "buy": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "flatrate": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "IN": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string"
                        },
                        "flatrate": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "IT": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string"
                        },
                        "ads": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "flatrate": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "buy": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "JP": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string"
                        },
                        "rent": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "flatrate": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "buy": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "MX": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string"
                        },
                        "flatrate": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "buy": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "NL": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string"
                        },
                        "flatrate": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "NO": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string"
                        },
                        "buy": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "flatrate": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "NZ": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string"
                        },
                        "flatrate": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "PE": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string"
                        },
                        "flatrate": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "PL": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string"
                        },
                        "flatrate": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "ads": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "PT": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string"
                        },
                        "flatrate": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "RO": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string"
                        },
                        "flatrate": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "RU": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string"
                        },
                        "flatrate": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "free": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "SE": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string"
                        },
                        "buy": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "flatrate": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "TR": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string"
                        },
                        "flatrate": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "US": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string"
                        },
                        "buy": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "flatrate": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "VE": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string"
                        },
                        "flatrate": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "ZA": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string"
                        },
                        "flatrate": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "display_priority": {
                                "type": "integer"
                              },
                              "logo_path": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "integer"
                              },
                              "provider_name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "examples": {
              "application/json": {
                "id": 1399,
                "results": {
                  "AR": {
                    "link": "https://www.themoviedb.org/tv/1399-game-of-thrones/watch?locale=AR",
                    "flatrate": [
                      {
                        "display_priority": 4,
                        "logo_path": "/2slPVV21kaPDx0NwjVtcUjdvzXz.jpg",
                        "provider_id": 31,
                        "provider_name": "HBO Go"
                      },
                      {
                        "display_priority": 7,
                        "logo_path": "/rgbalNWbAuhWklHH5JAnF53Wjey.jpg",
                        "provider_id": 339,
                        "provider_name": "Movistar Play"
                      },
                      {
                        "display_priority": 14,
                        "logo_path": "/lUv4RMq0WDcsePlqKPDwIDS1vCB.jpg",
                        "provider_id": 467,
                        "provider_name": "DIRECTV GO"
                      }
                    ]
                  },
                  "AT": {
                    "link": "https://www.themoviedb.org/tv/1399-game-of-thrones/watch?locale=AT",
                    "buy": [
                      {
                        "display_priority": 7,
                        "logo_path": "/vjKeS7Y9fNyqNtvp2ROCc71iu1u.jpg",
                        "provider_id": 40,
                        "provider_name": "Chili"
                      },
                      {
                        "display_priority": 10,
                        "logo_path": "/sVBEF7q7LqjHAWSnKwDbzmr2EMY.jpg",
                        "provider_id": 10,
                        "provider_name": "Amazon Video"
                      },
                      {
                        "display_priority": 14,
                        "logo_path": "/mosNtwHNCqCmjk7n5odKgYYf2GI.jpg",
                        "provider_id": 20,
                        "provider_name": "maxdome Store"
                      },
                      {
                        "display_priority": 18,
                        "logo_path": "/wuViyDkbFp4r7VqI0efPW5hFfQj.jpg",
                        "provider_id": 35,
                        "provider_name": "Rakuten TV"
                      },
                      {
                        "display_priority": 37,
                        "logo_path": "/paq2o2dIfQnxcERsVoq7Ys8KYz8.jpg",
                        "provider_id": 68,
                        "provider_name": "Microsoft Store"
                      }
                    ],
                    "flatrate": [
                      {
                        "display_priority": 8,
                        "logo_path": "/zLX0ExkHc8xJ9W4u9JgnldDQLKv.jpg",
                        "provider_id": 29,
                        "provider_name": "Sky Go"
                      },
                      {
                        "display_priority": 23,
                        "logo_path": "/eUSKzXMIbCdupq7wZbemFExQ7JI.jpg",
                        "provider_id": 321,
                        "provider_name": "Sky X"
                      }
                    ]
                  },
                  "AU": {
                    "link": "https://www.themoviedb.org/tv/1399-game-of-thrones/watch?locale=AU",
                    "buy": [
                      {
                        "display_priority": 2,
                        "logo_path": "/q6tl6Ib6X5FT80RMlcDbexIo4St.jpg",
                        "provider_id": 2,
                        "provider_name": "Apple iTunes"
                      },
                      {
                        "display_priority": 3,
                        "logo_path": "/p3Z12gKq2qvJaUOMeKNU2mzKVI9.jpg",
                        "provider_id": 3,
                        "provider_name": "Google Play Movies"
                      },
                      {
                        "display_priority": 37,
                        "logo_path": "/paq2o2dIfQnxcERsVoq7Ys8KYz8.jpg",
                        "provider_id": 68,
                        "provider_name": "Microsoft Store"
                      }
                    ],
                    "flatrate": [
                      {
                        "display_priority": 3,
                        "logo_path": "/5XaVJgyS5FZcQSjLNaQj7Z8yY5r.jpg",
                        "provider_id": 385,
                        "provider_name": "BINGE"
                      },
                      {
                        "display_priority": 5,
                        "logo_path": "/mgUoFq0rh4hko98wFGYpb7WKw5w.jpg",
                        "provider_id": 134,
                        "provider_name": "Foxtel Now"
                      }
                    ]
                  },
                  "BE": {
                    "link": "https://www.themoviedb.org/tv/1399-game-of-thrones/watch?locale=BE",
                    "flatrate": [
                      {
                        "display_priority": 10,
                        "logo_path": "/g3rPUj7XIHYvC2LHSG439Q7iJET.jpg",
                        "provider_id": 313,
                        "provider_name": "Yelo Play"
                      }
                    ]
                  },
                  "BR": {
                    "link": "https://www.themoviedb.org/tv/1399-game-of-thrones/watch?locale=BR",
                    "flatrate": [
                      {
                        "display_priority": 4,
                        "logo_path": "/2slPVV21kaPDx0NwjVtcUjdvzXz.jpg",
                        "provider_id": 31,
                        "provider_name": "HBO Go"
                      },
                      {
                        "display_priority": 27,
                        "logo_path": "/dNAz0MMIPiqCD2axGIktXSFWmkz.jpg",
                        "provider_id": 484,
                        "provider_name": "NOW"
                      }
                    ]
                  },
                  "CA": {
                    "link": "https://www.themoviedb.org/tv/1399-game-of-thrones/watch?locale=CA",
                    "flatrate": [
                      {
                        "display_priority": 5,
                        "logo_path": "/1ssJ1YTw7WT7BuBG9fh6yJ94tZl.jpg",
                        "provider_id": 231,
                        "provider_name": "Crave Plus"
                      },
                      {
                        "display_priority": 53,
                        "logo_path": "/mK7Au1go2M5MqyZ8CjkpJPM6Apb.jpg",
                        "provider_id": 492,
                        "provider_name": "ILLICO"
                      }
                    ],
                    "buy": [
                      {
                        "display_priority": 2,
                        "logo_path": "/q6tl6Ib6X5FT80RMlcDbexIo4St.jpg",
                        "provider_id": 2,
                        "provider_name": "Apple iTunes"
                      },
                      {
                        "display_priority": 3,
                        "logo_path": "/p3Z12gKq2qvJaUOMeKNU2mzKVI9.jpg",
                        "provider_id": 3,
                        "provider_name": "Google Play Movies"
                      },
                      {
                        "display_priority": 37,
                        "logo_path": "/paq2o2dIfQnxcERsVoq7Ys8KYz8.jpg",
                        "provider_id": 68,
                        "provider_name": "Microsoft Store"
                      }
                    ]
                  },
                  "CH": {
                    "link": "https://www.themoviedb.org/tv/1399-game-of-thrones/watch?locale=CH",
                    "flatrate": [
                      {
                        "display_priority": 3,
                        "logo_path": "/dSBzj4T9P7PMUr015gnV7meT2LR.jpg",
                        "provider_id": 150,
                        "provider_name": "SwissCom"
                      },
                      {
                        "display_priority": 7,
                        "logo_path": "/valHOIkEnVZKlYvKC9eZVpjoYXs.jpg",
                        "provider_id": 210,
                        "provider_name": "Sky"
                      }
                    ],
                    "buy": [
                      {
                        "display_priority": 3,
                        "logo_path": "/dSBzj4T9P7PMUr015gnV7meT2LR.jpg",
                        "provider_id": 150,
                        "provider_name": "SwissCom"
                      },
                      {
                        "display_priority": 8,
                        "logo_path": "/pZgeSWpfvD59x6sY6stT5c6uc2h.jpg",
                        "provider_id": 130,
                        "provider_name": "Sky Store"
                      },
                      {
                        "display_priority": 8,
                        "logo_path": "/567LmXMmafb8e2jGOmpHDZNl2r8.jpg",
                        "provider_id": 164,
                        "provider_name": "Hollystar"
                      },
                      {
                        "display_priority": 37,
                        "logo_path": "/paq2o2dIfQnxcERsVoq7Ys8KYz8.jpg",
                        "provider_id": 68,
                        "provider_name": "Microsoft Store"
                      }
                    ]
                  },
                  "CL": {
                    "link": "https://www.themoviedb.org/tv/1399-game-of-thrones/watch?locale=CL",
                    "flatrate": [
                      {
                        "display_priority": 4,
                        "logo_path": "/2slPVV21kaPDx0NwjVtcUjdvzXz.jpg",
                        "provider_id": 31,
                        "provider_name": "HBO Go"
                      },
                      {
                        "display_priority": 7,
                        "logo_path": "/rgbalNWbAuhWklHH5JAnF53Wjey.jpg",
                        "provider_id": 339,
                        "provider_name": "Movistar Play"
                      },
                      {
                        "display_priority": 14,
                        "logo_path": "/lUv4RMq0WDcsePlqKPDwIDS1vCB.jpg",
                        "provider_id": 467,
                        "provider_name": "DIRECTV GO"
                      }
                    ]
                  },
                  "CO": {
                    "link": "https://www.themoviedb.org/tv/1399-game-of-thrones/watch?locale=CO",
                    "flatrate": [
                      {
                        "display_priority": 4,
                        "logo_path": "/2slPVV21kaPDx0NwjVtcUjdvzXz.jpg",
                        "provider_id": 31,
                        "provider_name": "HBO Go"
                      },
                      {
                        "display_priority": 7,
                        "logo_path": "/rgbalNWbAuhWklHH5JAnF53Wjey.jpg",
                        "provider_id": 339,
                        "provider_name": "Movistar Play"
                      },
                      {
                        "display_priority": 14,
                        "logo_path": "/lUv4RMq0WDcsePlqKPDwIDS1vCB.jpg",
                        "provider_id": 467,
                        "provider_name": "DIRECTV GO"
                      }
                    ]
                  },
                  "CZ": {
                    "link": "https://www.themoviedb.org/tv/1399-game-of-thrones/watch?locale=CZ",
                    "flatrate": [
                      {
                        "display_priority": 2,
                        "logo_path": "/3zw07sM5b9FWcB1QXXt3uLpjn9r.jpg",
                        "provider_id": 280,
                        "provider_name": "HBO Go"
                      }
                    ]
                  },
                  "DE": {
                    "link": "https://www.themoviedb.org/tv/1399-game-of-thrones/watch?locale=DE",
                    "buy": [
                      {
                        "display_priority": 2,
                        "logo_path": "/q6tl6Ib6X5FT80RMlcDbexIo4St.jpg",
                        "provider_id": 2,
                        "provider_name": "Apple iTunes"
                      },
                      {
                        "display_priority": 3,
                        "logo_path": "/p3Z12gKq2qvJaUOMeKNU2mzKVI9.jpg",
                        "provider_id": 3,
                        "provider_name": "Google Play Movies"
                      },
                      {
                        "display_priority": 7,
                        "logo_path": "/vjKeS7Y9fNyqNtvp2ROCc71iu1u.jpg",
                        "provider_id": 40,
                        "provider_name": "Chili"
                      },
                      {
                        "display_priority": 10,
                        "logo_path": "/sVBEF7q7LqjHAWSnKwDbzmr2EMY.jpg",
                        "provider_id": 10,
                        "provider_name": "Amazon Video"
                      },
                      {
                        "display_priority": 14,
                        "logo_path": "/mosNtwHNCqCmjk7n5odKgYYf2GI.jpg",
                        "provider_id": 20,
                        "provider_name": "maxdome Store"
                      },
                      {
                        "display_priority": 18,
                        "logo_path": "/wuViyDkbFp4r7VqI0efPW5hFfQj.jpg",
                        "provider_id": 35,
                        "provider_name": "Rakuten TV"
                      },
                      {
                        "display_priority": 37,
                        "logo_path": "/paq2o2dIfQnxcERsVoq7Ys8KYz8.jpg",
                        "provider_id": 68,
                        "provider_name": "Microsoft Store"
                      }
                    ],
                    "flatrate": [
                      {
                        "display_priority": 7,
                        "logo_path": "/12H7kZk3kjUCXdUVkdJaSv4xyzH.jpg",
                        "provider_id": 30,
                        "provider_name": "Sky Ticket"
                      },
                      {
                        "display_priority": 8,
                        "logo_path": "/zLX0ExkHc8xJ9W4u9JgnldDQLKv.jpg",
                        "provider_id": 29,
                        "provider_name": "Sky Go"
                      }
                    ]
                  },
                  "DK": {
                    "link": "https://www.themoviedb.org/tv/1399-game-of-thrones/watch?locale=DK",
                    "buy": [
                      {
                        "display_priority": 37,
                        "logo_path": "/paq2o2dIfQnxcERsVoq7Ys8KYz8.jpg",
                        "provider_id": 68,
                        "provider_name": "Microsoft Store"
                      }
                    ],
                    "flatrate": [
                      {
                        "display_priority": 1,
                        "logo_path": "/vAtH6Z6Oq7zCmEGS3Sdu08dxvYZ.jpg",
                        "provider_id": 118,
                        "provider_name": "HBO"
                      }
                    ]
                  },
                  "EC": {
                    "link": "https://www.themoviedb.org/tv/1399-game-of-thrones/watch?locale=EC",
                    "flatrate": [
                      {
                        "display_priority": 4,
                        "logo_path": "/2slPVV21kaPDx0NwjVtcUjdvzXz.jpg",
                        "provider_id": 31,
                        "provider_name": "HBO Go"
                      },
                      {
                        "display_priority": 7,
                        "logo_path": "/rgbalNWbAuhWklHH5JAnF53Wjey.jpg",
                        "provider_id": 339,
                        "provider_name": "Movistar Play"
                      }
                    ]
                  },
                  "ES": {
                    "link": "https://www.themoviedb.org/tv/1399-game-of-thrones/watch?locale=ES",
                    "flatrate": [
                      {
                        "display_priority": 1,
                        "logo_path": "/vAtH6Z6Oq7zCmEGS3Sdu08dxvYZ.jpg",
                        "provider_id": 118,
                        "provider_name": "HBO"
                      }
                    ]
                  },
                  "FI": {
                    "link": "https://www.themoviedb.org/tv/1399-game-of-thrones/watch?locale=FI",
                    "buy": [
                      {
                        "display_priority": 37,
                        "logo_path": "/paq2o2dIfQnxcERsVoq7Ys8KYz8.jpg",
                        "provider_id": 68,
                        "provider_name": "Microsoft Store"
                      }
                    ],
                    "flatrate": [
                      {
                        "display_priority": 1,
                        "logo_path": "/vAtH6Z6Oq7zCmEGS3Sdu08dxvYZ.jpg",
                        "provider_id": 118,
                        "provider_name": "HBO"
                      }
                    ]
                  },
                  "FR": {
                    "link": "https://www.themoviedb.org/tv/1399-game-of-thrones/watch?locale=FR",
                    "flatrate": [
                      {
                        "display_priority": 1,
                        "logo_path": "/po2bO7TCFCSJmK6gZ8FFj43lPEb.jpg",
                        "provider_id": 381,
                        "provider_name": "Canal+"
                      },
                      {
                        "display_priority": 4,
                        "logo_path": "/8V7i31voizkPrOTilJgi9ttYmKL.jpg",
                        "provider_id": 56,
                        "provider_name": "OCS Go"
                      }
                    ],
                    "buy": [
                      {
                        "display_priority": 2,
                        "logo_path": "/q6tl6Ib6X5FT80RMlcDbexIo4St.jpg",
                        "provider_id": 2,
                        "provider_name": "Apple iTunes"
                      },
                      {
                        "display_priority": 3,
                        "logo_path": "/p3Z12gKq2qvJaUOMeKNU2mzKVI9.jpg",
                        "provider_id": 3,
                        "provider_name": "Google Play Movies"
                      },
                      {
                        "display_priority": 11,
                        "logo_path": "/bqgpWEtokIEOF5nsliXca2BQMEn.jpg",
                        "provider_id": 61,
                        "provider_name": "Orange VOD"
                      },
                      {
                        "display_priority": 18,
                        "logo_path": "/74cM9bbEjdUt7tRtCMv7rnRDKkm.jpg",
                        "provider_id": 58,
                        "provider_name": "Canal VOD"
                      },
                      {
                        "display_priority": 18,
                        "logo_path": "/wuViyDkbFp4r7VqI0efPW5hFfQj.jpg",
                        "provider_id": 35,
                        "provider_name": "Rakuten TV"
                      },
                      {
                        "display_priority": 37,
                        "logo_path": "/paq2o2dIfQnxcERsVoq7Ys8KYz8.jpg",
                        "provider_id": 68,
                        "provider_name": "Microsoft Store"
                      }
                    ]
                  },
                  "GB": {
                    "link": "https://www.themoviedb.org/tv/1399-game-of-thrones/watch?locale=GB",
                    "flatrate": [
                      {
                        "display_priority": 3,
                        "logo_path": "/hYrcCS72d2alfXdGS1QXNEvwYDY.jpg",
                        "provider_id": 39,
                        "provider_name": "Now TV"
                      },
                      {
                        "display_priority": 8,
                        "logo_path": "/zLX0ExkHc8xJ9W4u9JgnldDQLKv.jpg",
                        "provider_id": 29,
                        "provider_name": "Sky Go"
                      }
                    ],
                    "buy": [
                      {
                        "display_priority": 2,
                        "logo_path": "/q6tl6Ib6X5FT80RMlcDbexIo4St.jpg",
                        "provider_id": 2,
                        "provider_name": "Apple iTunes"
                      },
                      {
                        "display_priority": 3,
                        "logo_path": "/p3Z12gKq2qvJaUOMeKNU2mzKVI9.jpg",
                        "provider_id": 3,
                        "provider_name": "Google Play Movies"
                      },
                      {
                        "display_priority": 7,
                        "logo_path": "/vjKeS7Y9fNyqNtvp2ROCc71iu1u.jpg",
                        "provider_id": 40,
                        "provider_name": "Chili"
                      },
                      {
                        "display_priority": 8,
                        "logo_path": "/pZgeSWpfvD59x6sY6stT5c6uc2h.jpg",
                        "provider_id": 130,
                        "provider_name": "Sky Store"
                      },
                      {
                        "display_priority": 10,
                        "logo_path": "/sVBEF7q7LqjHAWSnKwDbzmr2EMY.jpg",
                        "provider_id": 10,
                        "provider_name": "Amazon Video"
                      },
                      {
                        "display_priority": 18,
                        "logo_path": "/wuViyDkbFp4r7VqI0efPW5hFfQj.jpg",
                        "provider_id": 35,
                        "provider_name": "Rakuten TV"
                      },
                      {
                        "display_priority": 37,
                        "logo_path": "/paq2o2dIfQnxcERsVoq7Ys8KYz8.jpg",
                        "provider_id": 68,
                        "provider_name": "Microsoft Store"
                      }
                    ]
                  },
                  "HU": {
                    "link": "https://www.themoviedb.org/tv/1399-game-of-thrones/watch?locale=HU",
                    "flatrate": [
                      {
                        "display_priority": 1,
                        "logo_path": "/49zBTsyFqE0u2hO8NxlyVmjFZDH.jpg",
                        "provider_id": 250,
                        "provider_name": "Horizon"
                      },
                      {
                        "display_priority": 2,
                        "logo_path": "/3zw07sM5b9FWcB1QXXt3uLpjn9r.jpg",
                        "provider_id": 280,
                        "provider_name": "HBO Go"
                      }
                    ]
[...]
