#sveltekit
.DS_Store
node_modules
/.svelte-kit
/package


#vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# WunderGraph build output
.wundergraph/cache
.wundergraph/generated

# production
/build

#env
.env
.env.*
!.env.example

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local


# vercel
.vercel

migrations