<html lang="en">
<head>
	<title>WunderNode</title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<style>
		@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=block");
		body {
			background-size: 40px 40px;
			background-image: radial-gradient(
				circle,
				#eedfdf 1px,
				rgba(0, 0, 0, 0) 1px
			);
		}
	</style>
	<script src="https://cdn.tailwindcss.com"></script>
	<script>
		tailwind.config = {
			theme: {
				extend: {
					fontFamily: {
						sans: ["Inter"],
					},
				},
			},
		};
	</script>
</head>
<body
	class="min-h-screen overflow-auto flex flex-col items-center justify-center container max-w-screen-md mx-auto px-4 py-12"
>
<h2 class="font-medium text-gray-600 text-xl">Powered by</h2>
<h1
	class="mt-4 bg-gradient-to-r from-purple-500 to-pink-500 bg-clip-text text-5xl lg:text-6xl font-bold text-transparent"
>
	WunderGraph
</h1>
<div class="grid grid-cols-2 w-full gap-4 mt-12">
	<a
		href="/api/main/graphql"
		class="flex flex-col border w-full rounded-md py-2 px-4 group hover:border-sky-500 bg-white"
	>
		<p
			class="flex items-center gap-x-2 font-medium group-hover:gap-x-3 transition-all"
		>
            <span>Playground</span
						>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
				class="w-4 h-4"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"
				/>
			</svg>
		</p>
		<p class="text-gray-600 text-sm mt-2">
			A GraphQL playground to test your queries and mutations.
		</p>
	</a>
	<a
		href="https://docs.wundergraph.com"
		target="_blank"
		class="flex flex-col border w-full rounded-md py-2 px-4 group hover:border-sky-500 bg-white"
	>
		<p
			class="flex items-center gap-x-2 font-medium group-hover:gap-x-3 transition-all"
		>
            <span>Docs</span
						>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
				class="w-4 h-4"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"
				/>
			</svg>
		</p>
		<p class="text-gray-600 text-sm mt-2">
			Learn how to use and further empower your WunderNode.
		</p>
	</a>
</div>
<div class="border w-full mt-12 rounded-md bg-white">
	<table class="w-full text-sm text-left">
		<tr class="border-b hover:bg-sky-50/50 transition-all">
			<th class="py-4 px-6 text-sky-600">Server Status</th>
			<td class="text-gray-800 font-semibold">{{.ServerStatus}}</td>
		</tr>
		<tr class="border-b hover:bg-sky-50/50 transition-all">
			<th class="py-4 px-6 text-sky-600">Node Status</th>
			<td class="text-gray-800 font-semibold">{{.NodeStatus}}</td>
		</tr>
		<tr class="border-b hover:bg-sky-50/50 transition-all">
			<th class="py-4 px-6 text-sky-600">Version</th>
			<td class="text-gray-800 font-semibold">{{.BuildInfo.Version}}</td>
		</tr>
		<tr class="border-b hover:bg-sky-50/50 transition-all">
			<th class="py-4 px-6 text-sky-600">Commit</th>
			<td class="text-gray-800 font-semibold">{{.BuildInfo.Commit}}</td>
		</tr>
		<tr class="border-b hover:bg-sky-50/50 transition-all">
			<th class="py-4 px-6 text-sky-600">Date</th>
			<td class="text-gray-800 font-semibold">
				{{.BuildInfo.Date}}
			</td>
		</tr>
		<tr class="hover:bg-sky-50/50 transition-all">
			<th class="py-4 px-6 text-sky-600">Built By</th>
			<td class="text-gray-800 font-semibold">{{.BuildInfo.BuiltBy}}</td>
		</tr>
	</table>
</div>
</body>
</html>
