---
import type { CountryName$data } from '../../__relay__generated__/CountryName.graphql';

interface Props {
	countryName: CountryName$data
}

const { countryName } = Astro.props
---

<li>{countryName.name} ({countryName.code})</li>
