name: packages-ci
on:
  push:
    branches:
      - main
      - next
    tags-ignore:
      - '*'
    paths:
      - 'packages/**/*'
      - '.github/workflows/packages-ci.yaml'
      - '!packages/*-testapp/**'
      - 'examples/**/*'
      - '!*.md'
      - '!**/*.md'
  pull_request:
    branches:
      - main
      - next
    paths:
      - 'packages/**/*'
      - '.github/workflows/packages-ci.yaml'
      - '!packages/*-testapp/**'
      - 'examples/**/*'
      - '!*.md'
      - '!**/*.md'

env:
  WORKING_DIRECTORY: '.'
  CI: true

jobs:
  build_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: ./.github/actions/node
        with:
          working-directory: ${{ env.WORKING_DIRECTORY }}

      - name: Install Protoc
        uses: arduino/setup-protoc@v1
        with:
          version: '3.x'
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - run: pnpm boot

      - run: pnpm build

      - run: pnpm test --filter '@wundergraph/sdk'
