name: Packages Release
        
on:
  workflow_dispatch:

concurrency:
  group: ${{github.workflow}}-${{github.head_ref}}
  cancel-in-progress: false

env:
  CI: true

jobs:
  version:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    if: "contains(github.event.head_commit.message, 'chore(release): Publish')"
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: ./.github/actions/node
        with:
          working-directory: ${{ env.WORKING_DIRECTORY }}

      - run: npm config set //registry.npmjs.org/:_authToken $NPM_TOKEN
        shell: bash
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - run: pnpm boot --ignore-scripts

      - run: pnpm build

      - name: Publish packages & Create Github Releases
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          pnpm run publish:packages
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          
#      - name: Generate Notification
#        id: notification
#        if: steps.changesets.outputs.published == 'true'
#        run: message=$(node scripts/notify/index.js '${{ steps.changesets.outputs.publishedPackages }}') && echo ::set-output name=message::${message//$'\n'/'%0A'}
#
#      - name: Discord Notification
#        if: steps.changesets.outputs.published == 'true'
#        id: discord-notification
#        env:
#          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
#        uses: Ilshidur/action-discord@0.3.2
#        with:
#          args: ${{ steps.notification.outputs.message }}
