name: NPM Packages CI
on:
  push:
    branches:
      - main
      - next
    tags-ignore:
      - '*'
    paths:
      - 'packages/**/*'
      - '.github/workflows/packages-ci.yaml'
      - '!packages/*-testapp/**'
      - 'examples/**/*'
      - '!*.md'
      - '!**/*.md'
  pull_request:
    branches:
      - main
      - next
    paths:
      - 'packages/**/*'
      - '.github/workflows/packages-ci.yaml'
      - '!packages/*-testapp/**'
      - 'examples/**/*'
      - '!*.md'
      - '!**/*.md'

concurrency:
  group: ${{github.workflow}}-${{github.head_ref}}
  cancel-in-progress: true

env:
  WORKING_DIRECTORY: '.'
  CI: true

jobs:
  build_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: ./.github/actions/node
        with:
          working-directory: ${{ env.WORKING_DIRECTORY }}
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Protoc
        uses: arduino/setup-protoc@v1
        with:
          version: '3.x'
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Bootstrap PNPM workspace
        run: ./scripts/pnpm.sh

      - name: Generate WunderGraph config for all apps
        run: pnpm gen:apps

      - name: Tsc check of all apps
        run: pnpm check:apps

      - name: Run all NPM tests
        run: pnpm test --filter '@wundergraph/sdk'
